<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <span class="navigation-links1-text"><span>Home</span></span>
    <a
      href="https://cardrei2.github.io/K-wardsAccount/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link"
    >
      <span>Log In</span>
    </a>
    <a
      href="https://cardrei2.github.io/K-wardsAccount/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link1"
    >
      <span>Sign Up</span>
    </a>
  </nav>
</div>
